/********************
Mobile Landscape
********************/
/*
@media screen and (orientation:portrait) {


    nav li {
        font-size: 2.25em;
        padding: 10px 15px;
        margin: 0 10px;

    }
}

*/

@media screen and  (max-width: 479px){

    nav li {
        /*font-size: 0.9em;*/
        padding: auto 2.5px;
        margin: 0 6px;
    }

    p,  li {
        /*font-size: 0.85em; */
        margin: 40px auto;
    }

    li {
        margin: 10px 50px 10px 0;
    }

    .mainContainer {
        width: 100%;
        text-align: left;
        margin: 0 10px;
        padding: 0;

    }


    #firstHeader {
        font-size: 2em;
        top: 45%;
    }

    #secondHeader {
        font-size: 5em;
        top: 55%;
    }

    .profile-Photo {
        width: 240px;
    }

    p, li {
        font-size: 0.89;
    }

    .button {
        font-size: 1.1;
    }

    .socialMedia {
        max-width: 60px;

    }
}

@media screen and  (min-width: 480px){



    /*NAVIGATION*/


    nav li {
        font-size: 1.2em;
        padding: 10px 10px;

    }

    /*HEADER*/

    p, li {
        font-size: 1.15em;
        letter-spacing: 1.5px;
        line-height: 1.2em;
        margin: 40px auto;
    }

    li {
        margin: 20px auto;
    }


    #secondHeader {
        font-size: 5em;
        padding-right:6%;
    }

    #firstHeader {
        top: 45%;
        font-size: 1.625em;
        padding: 0 0 0 8%;

    }

    /*MAIN BODY*/

    .mainContainer {
        margin: 50px auto;
        padding: 0;
        width: 80%;
    }

    .contentHeader {
        margin: 30px 0;
        font-size: 1.85em;

    }

    .profile-Photo {
        width: 270px;
        box-shadow: 5px 10px 15px #222;
        -webkit-border-radius: 100%;

    }


    .aboutMeContent li {
        text-align: left;
        margin-left: 15%;
    }


    .button {
        border-radius: 20px;
        font-size: 1.2em;
      /*  margin-left: 25%;
        margin-right: 25%; */
    }



    /*********************************
    FOOTER
    **********************************/

    footer {
        width: 100%;
    }


    .grayContainer{
        height:30px;

    }

    .blackContainer {
        height:70px;
        line-height:70px;
    }

    .socialMedia {
        padding: 0 5px;
        max-width: 80px;


    }


}

@media screen and  (min-width: 600px) {
    nav li {
        font-size: 1.4em;
    }

    .button {
      /*  margin-left: 30%;
        margin-right: 30%; */

    }

}


@media screen and (min-width: 750px) {

    .mainContainer {
        width: 70%;
    }

}


@media screen and (min-width: 1000px) {

    .button {
       /** margin-left: 35%;
        margin-right: 35%; **/
    }

}
